*{
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: grey;
}
.body {
  margin: 0;
  font-family: sans-serif;
}
.wrapper {
  width: 60%
}
.leadImage {
  position: relative;
  overflow: hidden;
  height: 175px;
  margin-bottom: 40px;
}
.imageOneText {
  width: 100%;
  margin: 0;
  font-size: 24px;
  text-align: center;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.optionsWrapper {
  margin-left: 5px;
  margin-bottom: 100px;
  height: 500px;
}
.optionsTypeElement {
  position: relative;
  height: 200px;
  background-color: #519251;
}
.optionsTypeElementBlue {
  position: relative;
  height: 200px;
  background-color: #2C4985;
}
.optionsTypeElementBlack {
  position: relative;
  height: 200px;
  background-color: black;
}
.optionsPriceElement {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.optionsName {
  color: white;
  margin: 0;
  text-align: center;
}
.optionsPrice {
  margin: 0;
  font-size: 70px;
  color: white;
  text-align: center;
}
.optionsPeriod {
  color: lightgrey;
  margin: 0;
  text-align: center;
}
.optionsList {
  list-style: none;
  padding: 0;
  margin: 0;
}
.optionsListItem {
  color: grey;
  border-bottom: solid 1px lightgrey;
  padding: 15px 0;
  text-align: center;
  background-color: #F7F7F7;
}
.optionsListWrapper {
  border: solid 1px lightgrey;
  border-top: none;
  text-align: center;
}
.chooseButton {
  padding: 8px;
  font-size: 16px;
  font-weight: bold;
  background-color: white;
  border: solid 2px lightgrey;
  border-radius: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.detailsPane {
  display: block;
  margin-left: 20px;
  margin-bottom: 50px;
  width: 90%;
}
.detailsHeader {
  font-weight: lighter;
}
.footer {
  background-color: black;
  height: 75px;
}
.footerText {
  padding-top: 1em;
  text-align: center;
  color: white;
}

@media only screen and (min-width: 479px) {
    /* Style adjustments for viewports that meet the condition */

    .wrapper {
      width: 60%;
    }
}
@media only screen and (min-width: 768px) {
    /* Style adjustments for viewports that meet the condition */
    .leadImage {
      position: relative;
      overflow: hidden;
      height: 225px;
      margin-bottom: 40px;
    }
    .optionsWrapper {
      display: inline-block;
      margin-left: 0px;
      margin-right: 4px;
      margin-bottom: 100px;
      height: 500px;
      width: 32%;
    }
    .optionsAll {
      margin-left: 5px;
    }
    .wrapper {
      width: 700px;
    }
    .detailsPane {
      display: inline-block;
      margin-left: 20px;
      width: 40%;
      vertical-align: top;
    }
}
@media only screen and (min-width: 979px) {
    /* Style adjustments for viewports that meet the condition */
    .leadImage {
      position: relative;
      overflow: hidden;
      height: 225px;
      margin-bottom: 40px;
    }
    .optionsWrapper {
      display: inline-block;
      margin-left: 0px;
      margin-right: 2px;
      margin-bottom: 100px;
      height: 500px;
      width: 32.5%;
    }
    .optionsAll{
      width: 85%;
      margin-left: auto;
      margin-right: auto;
    }
    .detailsAll{
      width: 85%;
      margin-left: auto;
      margin-right: auto;
    }
    .wrapper {
      width: 900px;
    }
    .detailsPane {
      display: inline-block;
      margin-left: 50px;
      width: 40%;
      vertical-align: top;
    }
}
