* {
  box-sizing: border-box;
  }
  video {
  width: 100%;
}
/* I used ID's instead of classes to organize my divs in other divs. It's not right, but I was getting frustrated and it's the easiest way I could figure out to get it done*/
#left__section__2 {
  float: left;
  margin: 0;
  padding-left: 15px;
  width: 80%;
  overflow: hidden;
}
#left__main__aside {
  display: inline;
  float: left;
  overflow: hidden;
  width: 66%;
}
#right__section__2 {
  margin: 0;
  overflow: hidden;
}
#right__main__aside {
  float: right;
  margin: 0;
  overflow: hidden;
  padding: 0;
  vertical-align: top;
  width: 33%;
}
#upcoming__video1 {
  margin: auto;
  height: 85px;
  margin-bottom: 0px;
}
#upcoming__video2 {
  margin-bottom: 15px;
  height: 85px;
}
#upcoming__video3 {
  margin-bottom: 15px;
  height: 85px;
}
#upcoming__video4 {
  margin-bottom: 15px;
  height: 85px;
}
#upcoming__video1--preview {
  display: block;
  float: left;
  overflow: hidden;
}
#upcoming__video2--preview {
  display: block;
  float: left;
  overflow: hidden;
}
#upcoming__video3--preview {
  display: block;
  float: left;
  overflow: hidden;
}
#upcoming__video4--preview {
  display: block;
  float: left;
  overflow: hidden;
}
#upcoming__video1--title {
}
#upcoming__video2--title {
}
#upcoming__video3--title {
}
#upcoming__video4--title {
}
#wrapper_section__2 {
  padding-bottom: 10px;
}
#wrapper__main__aside {
  margin: auto;
  width: 85%;
}
.aside {
  background-color: white;
  display: inline-block;
  float: right;
  margin-top: 10px;
  width: 100%;
  height: 842px;
  vertical-align: top;
}
.aside__header {
  display: block;
  margin-top: 5px;
  margin=bottom: 5px;
  vertical-align: middle;
  width: 100;
}
.autoplay {
  display: block;
  padding-left: 10px;
  vertical-align: top;
}
.autoplay__header--text {
  font-family: Arial;
  font-size: 16px;
  display: inline-block;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 15px;
  vertical-align: top;
}
.autoplay__text--slider {
  float: right;
  font-family: Arial;
  font-size: 16px;
  display: inline-block;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 15px;
  vertical-align: top;
}
.banner__ad {
  display: block;
}
.bannerAd__image {
  height: 50px;
  width: 300px;
  margin-top: 5px;
}
.body {
  background-color: #F1F1F1;
  margin: auto;
}
.button {
    background-color: #F8F8F8;
    border: 2px solid #EEEEEE;
    color: black;
    display: inline-block;
    font-size: 14px;
    font-family: Arial;
    height: 25px;
    padding: 0 12px;
    text-align: center;
    text-decoration: none;
    vertical-align: top;
}
/*This is the button just for the nav bar search input*/
.button__mag {
  background-color: #F8F8F8;
  border: 2px solid #EEEEEE;
  color: Gainsboro;
  display: inline-block;
  vertical-align: top;
}
.h2 {
  font-family: Arial;
  font-size: 24px;
  display: block;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 15px;
  vertical-align: top;
}
.img__navBar__logo {
  height: 45px;
  margin-top: -10px;
  margin-bottom: 0px;
  margin-right: 45px;
  margin-left: 45px;
}
.img__userAvatar {
  display: inline-block;
  height: 60px;
  vertical-align: top;
}
.img__userProfileAvatar {
  border-radius: 50%;
  display: inline-block;
  height: 25px;
  margin-left: 10px;
  margin-right: 20px;
  vertical-align: top;
}
.img__videoTemp {
  margin-top: 10px;
  display: inline-block;
  width: 842.156px;
}
.infoIcon {
  width: 15px;
  vertical-align: top;
}
.main {
  float: left;
  padding-top: 10px;
  width: 100%;
}
.navBar {
  vertical-align: top;
  background-color: white;
  height: 45px;
  padding: 10px 20px;
}
.number__of__views {
  border-bottom: 3px solid #98d9e6;
  color: grey;
  display: inline;
  font-size: 22px;
  margin-left: 505px;
  padding-top: 0px;
  padding-right: 5px;
  padding-bottom: 0px;
  padding-left: 40px;
}
.number__of__views2 {
  display: block;
  font-size: 24px;
  padding-left: 80px;
}
.p__1 {
  font-family: Arial;
  font-size: 12px;
  font-weight: 400;
  margin-left: 15px;
  margin-right: 15px;
}
.preview__pane {

}
.searchBar {
  display: inline-block;
  height: 25px;
  margin-right: -5px;
  vertical-align: top;
}
.searchBar__bar--only {
  border-top-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 1px;
  border-bottom-color: #CFCFCF;
  border-top-color: #DDDDDD;
  border-left-width: 2px;
  border-style: solid;
  border-left-color: #EEEEEE;
  border-right-color: #EEEEEE;
  height: 25px;
  margin-right: -5px;
  width: 450px;

}
.section__1 {
  background-color: white;
  font-family: Arial;
  margin-top: 5px;
  padding: 15px;
}
.section__2 {
  background-color: white;
  float: left;
  padding-bottom: 15px;
  width: 100%;
}
.section__2--button {
  background-color: white;
  border-style: none;
  border-size: 1px;
  border-radius: 1px;
  color: #808080;
  display: inline-block;
  font-size: 16px;
  font-family: Arial;
  height: 25px;
  padding: 0 4px;
  text-align: center;
  text-decoration: none;
  vertical-align: top;
}

.section__3 {
  background-color: white;
  font-family: Arial;
  float:left;
  height: 150px;
  margin-top: 10px;
  width: 100%;
}
.section__4 {
  display: inline-block;
  float: left;
  width: 100%;
  padding-right: 15px;
}
/*This doesn't work*/
.show__more {
  display: inline-block;
}
.show__more__button {
  background-color: white;
  border-style: solid;
  border-size: 1px;
  border-radius: 1px;
  border-left: none;
  border-right: none;
  border-bottom: none;
  color: black;
  display: inline-block;
  font-size: 14px;
  font-family: Arial;
  font-weight: bold;
  height: 25px;
  padding: 0 12px;
  text-align: center;
  text-decoration: none;
  vertical-align: top;
  width: 716px;
}
.slider__round {
  margin-top: 0px;
  margin-bottom: 0px;
}
.subscribe__button--followers {
  display: inline;
}
.subscribe__link {
  text-decoration: none;
}
.subscriber__info {
  border-bottom: 2px solid Gainsboro;
  display: inline-block;
  width: 100%;
  vertical-align: top;
}
.subscriber__info--button {
  background-color: Gainsboro;
  border-style: solid;
  border-size: 1px;
  border-radius: 1px;
  color: black;
  display: inline-block;
  font-size: 14px;
  font-family: Arial;
  height: 25px;
  padding: 0 12px;
  text-align: center;
  text-decoration: none;
  vertical-align: top;
}
.subcriber__info--name {
  display: inline-block;
  width: 90%;
}
.subcriber__info--number {
  display: inline-block;
  vertical-align: top;
}
.subscriber__info--subscribe {
  height: 28px;
  width: 93px;
  vertical-align: top;
  margin: 0;
  padding; 0;
}
.subscriber__name--followers {
  border: 2px solid #EEEEEE;
  display: inline;
  font-size: 24px;
  font-weight: bold;
  vertical-align: top;
}
.subscriber__number {
  display: inline-block;
  color: grey;
  font-size: 22px;
  font-weight: lighter;
  margin-top: 2px;
  margin-bottom: 0px;
  margin-right: 5px;
  padding-bottom: 5px;
}
.thumbs_buttons {
  display: inline;
  float: right;
  font-family: Arial;
  font-size: 16px;
  margin: 0;
}
.upcoming__video--unordered--list {
  padding-left: 15px;
  margin: 0;
}
.upcoming__video--preview {
  width: 145px
}
.upcoming__video--title {
  display: block;
  color: black;
  font-family: Arial;
  font-size: 13px;
  font-weight: bold;
  padding-bottom: 5px;
  text-decoration: none;
  vertical-align: top;
}
.upcoming__video--user {
  color: grey;
  font-family: Arial;
  font-size: 11px;
  font-weight: 400;
  vertical-align: top;
  margin: 0;
}
.upcoming__videos--divider {
  color: Gainsboro;
  padding-bottom: 15px;
}
.upload__button--with_avatar {
  float: right;
  vertical-align: top;
}
.user__input--buttons {
}
.user__input--add--share--more {

}
.user__name {
  color: #393939;
  font-family: Arial;
  font-size: 18px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 10px;
  vertical-align: top;
}
.video__description--uploadDate {
  font-family: Arial;
  font-size: 14px;
  display: block;
  margin-top: 0px;
  margin-left: 15px;
  margin-bottom: 0px;
  padding-top: 15px;
  vertical-align: top;
}
.video__details--name {
  font-size: 20px;
  margin-top: 0;
}
.viewer__input--buttons {
}
.wrapper {
  margin: 0 auto;
}
