.main {
  margin-left: 5%;
  margin-right: 5%;
}
.articleInfo {
  height: 70px;
  overflow: hidden;

}
.accordian {
  height: 100%;
}
.h1 {
  text-align: center;
}
.imageList {
  display: none;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.sliderImages {
  position: relative;
  height: 300px;
  margin: 0;
  padding: 0;
  width: 500px;
  text-align: right;
}
.slider_ul {
  position: relative;
  margin: 0;
  padding: 0;
}
