.body {
  font-family: helvetica;
}

.chatAppBody {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.appForm {
  width: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.chatMessagesDisplay {
  border: solid 1px black;
  width: 500px;
  height: auto;
  min-height: 250px;
  margin-bottom: 10px;
}

.userNameInput {
  display: inline-block;
  width: 25%;
  height: 25px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.messageText {
  display: inline-block;
  width: 72%;
  height: 25px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.submitMessage {
  display: none;
  width: 100px;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
}

.currentPost {
  margin-top: 0;
  margin-bottom: 10px;
}

.userNameStyle {
  color: red;
  font-size: 16px;
  font-weight: bold;
}

.userMessageStyle {
  color: black;
  font-size: 16px;
}
